<mat-tab-group mat-stretch-tabs>
    <mat-tab label="Register Employee"> <app-register-employee></app-register-employee> </mat-tab>
    <mat-tab label="Register Condidate"> <app-register-condiddate></app-register-condiddate> </mat-tab>
  </mat-tab-group>
