
  <mat-stepper [linear]="'true'" #stepper>
    <mat-step [stepControl]="firstFormGroup">
      <form [formGroup]="firstFormGroup" >
        <ng-template matStepLabel>Step 1</ng-template>
        <mat-form-field class="d-block" appearance="fill">
          <mat-label>fullName</mat-label>
          <input matInput placeholder="fullName" formControlName="fullName" required>
        </mat-form-field>

        <mat-form-field class="d-block" appearance="fill">
          <mat-label>email</mat-label>
          <input matInput placeholder="email" type="email" formControlName="email" required>
        </mat-form-field>

        <mat-form-field class="d-block" appearance="fill">
          <mat-label>password</mat-label>
          <input matInput placeholder="password" type="password" formControlName="password" required>
        </mat-form-field>

        <mat-form-field class="d-block" appearance="fill">
          <mat-label>confirmPassword</mat-label>
          <input matInput placeholder="confirmPassword" type="password" formControlName="confirmPassword" required>
        </mat-form-field>
        <div>
          <button color="primary" mat-button matStepperNext (click)="chk_pass()">Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup" label="Step 2">
      <form [formGroup]="secondFormGroup">
        <mat-form-field class="d-block" appearance="fill">
          <mat-label>jobsNumber</mat-label>
          <input matInput formControlName="jobsNumber" type="number" placeholder="jobsNumber" required>
        </mat-form-field>

        <mat-form-field class="d-block" appearance="fill">
          <mat-label>hiringNeed</mat-label>
          <input matInput formControlName="hiringNeed" type="number" placeholder="hiringNeed" required>
        </mat-form-field>

        <mat-form-field class="d-block" appearance="fill">
          <mat-label>currentTitle</mat-label>
          <input matInput formControlName="currentTitle" type="number" placeholder="currentTitle" required>
        </mat-form-field>

        <mat-form-field class="d-block" appearance="fill">
          <mat-label>phoneNumber</mat-label>
          <input matInput formControlName="phoneNumber" placeholder="phoneNumber" required>
        </mat-form-field>
        <div>
          <button color="primary" mat-button matStepperPrevious>Back</button>
          <button color="primary" mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>

    <mat-step [stepControl]="thirdFormGroup" label="Last Step" >
      <form [formGroup]="thirdFormGroup">
        <mat-form-field class="d-block" appearance="fill">
          <mat-label>zipCode</mat-label>
          <input matInput formControlName="zipCode" placeholder="zipCode" required>
        </mat-form-field>

        <mat-form-field class="d-block" appearance="fill">
          <mat-label>trackingSystem</mat-label>
          <input matInput formControlName="trackingSystem" type="number" placeholder="trackingSystem" required>
        </mat-form-field>

        <mat-form-field class="d-block" appearance="fill">
          <mat-label>marketingOption</mat-label>
          <input matInput formControlName="marketingOption" type="number" placeholder="marketingOption" required>
        </mat-form-field>

        <mat-form-field class="d-block" appearance="fill">
          <mat-label>specifyMarketing</mat-label>
          <input matInput formControlName="specifyMarketing" placeholder="specifyMarketing" required>
        </mat-form-field>
        <div>
          <button color="primary" mat-button matStepperPrevious>Back</button>
          <button color="primary" mat-button (click)="save()">save</button>
        </div>
      </form>
    </mat-step>
  </mat-stepper>
  