<mat-card>
    <mat-card-title>Change Password</mat-card-title>
<mat-card-content>
<form [formGroup]="form" (ngSubmit)="submit()">
  <p>
    <mat-form-field class="d-block">
      <input type="email" matInput placeholder="Enter your email" formControlName="email" required>
    </mat-form-field>
  </p>

  <p>
    <mat-form-field class="d-block">
      <input type="password" matInput placeholder="Enter your current Password" formControlName="currentPassword" required>
    </mat-form-field>
  </p>

  <p>
    <mat-form-field class="d-block">
      <input type="password" matInput placeholder="Enter your new Password" formControlName="newPassword" required>
    </mat-form-field>
  </p>


  <div class="button">
    <button color="primary" type="submit" mat-button>submit</button>
  </div>

</form>
</mat-card-content>
</mat-card>
