<div class="container">
  <div class="row mt-5">
    <div class="col-3"></div>
    <div class="col-6 mt-5">
      <div class="text-center">
        <router-outlet></router-outlet>
      </div>
    </div>
    <div class="col-3"></div>
  </div>
</div>

<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#fff" type = "ball-atom" [fullScreen] = "true"><p style="color: white" > Loading... </p></ngx-spinner>
