
  <mat-stepper [linear]="'true'" #stepper>
    <mat-step [stepControl]="firstFormGroup">
      <form [formGroup]="firstFormGroup" >
        <ng-template matStepLabel>personal info</ng-template>
        <mat-form-field class="d-block" appearance="fill">
          <mat-label>jobTitle</mat-label>
          <input matInput placeholder="jobTitle" formControlName="jobTitle" required>
        </mat-form-field>

        <mat-form-field class="d-block" appearance="fill">
          <mat-label>city</mat-label>
          <input matInput placeholder="city"  formControlName="city" required>
        </mat-form-field>

        <mat-form-field class="d-block" appearance="fill">
          <mat-label>state</mat-label>
          <input matInput placeholder="state"  formControlName="state" required>
        </mat-form-field>

        <mat-form-field class="d-block" appearance="fill">
          <mat-label>fullName</mat-label>
          <input matInput placeholder="fullName"  formControlName="fullName" required>
        </mat-form-field>

        <mat-form-field class="d-block" appearance="fill">
            <mat-label>email</mat-label>
            <input matInput placeholder="email" type="email" formControlName="email" required>
          </mat-form-field>

          <mat-form-field class="d-block" appearance="fill">
            <mat-label>address</mat-label>
            <input matInput placeholder="address"  formControlName="address" required>
          </mat-form-field>

          <mat-form-field class="d-block" appearance="fill">
            <mat-label>password</mat-label>
            <input matInput placeholder="password" type="password"  formControlName="password" required>
          </mat-form-field>

          <mat-form-field class="d-block" appearance="fill">
            <mat-label>confirmPassword</mat-label>
            <input matInput placeholder="confirmPassword" type="password" formControlName="confirmPassword" required>
          </mat-form-field>

          <mat-form-field class="d-block" appearance="fill">
            <mat-label>resume</mat-label>
            <ngx-mat-file-input formControlName="resume"  >
            </ngx-mat-file-input>
          </mat-form-field>
        <div>
          <button color="primary" mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup" label="Experiences">
      <form [formGroup]="secondFormGroup">
        <mat-form-field class="d-block" appearance="fill">
          <mat-label>companyName</mat-label>
          <input matInput formControlName="companyName"  placeholder="companyName" required>
        </mat-form-field>

        <mat-form-field class="d-block" appearance="fill">
          <mat-label>city</mat-label>
          <input matInput formControlName="city"placeholder="city" required>
        </mat-form-field>

        <mat-form-field class="d-block" appearance="fill">
          <mat-label>country</mat-label>
          <input matInput formControlName="country" placeholder="country" required>
        </mat-form-field>

        <mat-form-field class="d-block" appearance="fill">
          <mat-label>title</mat-label>
          <input matInput formControlName="title" placeholder="title" required>
        </mat-form-field>

        <mat-form-field class="d-block" appearance="fill">
            <mat-label>dateFrom</mat-label>
            <input matInput formControlName="dateFrom" type="date" placeholder="dateFrom" required>
          </mat-form-field>

          <mat-form-field class="d-block" appearance="fill">
            <mat-label>dateTo</mat-label>
            <input matInput formControlName="dateTo" type="date" placeholder="dateTo" required>
          </mat-form-field>

            <div class="d-block text-start my-2">
            <mat-label>stillWorkThere</mat-label>
            <mat-checkbox class="mx-2" formControlName="stillWorkThere" ></mat-checkbox>
            </div>
          
          <mat-form-field class="d-block" appearance="fill">
            <mat-label>description</mat-label>
            <input matInput formControlName="description" placeholder="description" required>
          </mat-form-field>
        <div>
          <button color="primary" mat-button matStepperPrevious>Back</button>
          <button color="primary" mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>

    <mat-step [stepControl]="thirdFormGroup" label="Educations" >
      <form [formGroup]="thirdFormGroup">
        <mat-form-field class="d-block" appearance="fill">
          <mat-label>school</mat-label>
          <input matInput formControlName="school" placeholder="school" required>
        </mat-form-field>

        <mat-form-field class="d-block" appearance="fill">
          <mat-label>dateFrom</mat-label>
          <input matInput formControlName="dateFrom" type="date" placeholder="dateFrom" required>
        </mat-form-field>

        <mat-form-field class="d-block" appearance="fill">
          <mat-label>dateTo</mat-label>
          <input matInput formControlName="dateTo" type="date" placeholder="dateTo" required>
        </mat-form-field>

        <mat-form-field class="d-block" appearance="fill">
          <mat-label>degree</mat-label>
          <input matInput formControlName="degree" placeholder="degree" required>
        </mat-form-field> 

        <mat-form-field class="d-block" appearance="fill">
            <mat-label>areaOfStudy</mat-label>
            <input matInput formControlName="areaOfStudy" placeholder="areaOfStudy" required>
          </mat-form-field> 

          <mat-form-field class="d-block" appearance="fill">
            <mat-label>description</mat-label>
            <input matInput formControlName="description" placeholder="description" required>
          </mat-form-field> 
 
        <div>
          <button color="primary" mat-button matStepperPrevious>Back</button>
          <button color="primary" mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>

    
    <mat-step [stepControl]="fourFormGroup" label="Last one" >
        <form [formGroup]="fourFormGroup">
            <div class="d-block text-start my-2">
            <mat-label>willToWorkRemotely</mat-label>
            <mat-checkbox class="mx-2" formControlName="willToWorkRemotely"  ></mat-checkbox>
            </div>
     
          <mat-form-field class="d-block" appearance="fill">
            <mat-label>countryId</mat-label>
            <input matInput formControlName="countryId" type="number" placeholder="countryId" required>
          </mat-form-field>
  
          <mat-form-field class="d-block" appearance="fill">
            <mat-label>minimumDesirePay</mat-label>
            <input matInput formControlName="minimumDesirePay" type="number" placeholder="minimumDesirePay" required>
          </mat-form-field>
  
            <div class="d-block text-start my-2">
            <mat-label>isLookingActive</mat-label>
            <mat-checkbox class="mx-2" formControlName="isLookingActive" placeholder="isLookingActive"  ></mat-checkbox>
            </div>

            <div class="d-block text-start my-2">
              <mat-label>isProfileSearchable</mat-label>
              <mat-checkbox class="mx-2" formControlName="isProfileSearchable" placeholder="isProfileSearchable"  ></mat-checkbox>
            </div>
   
          <div>
            <button color="primary" mat-button matStepperPrevious>Back</button>
            <button color="primary" mat-button (click)="save()">save</button>
          </div>
        </form>
      </mat-step>
  </mat-stepper>
  