<mat-card>
    <mat-card-title>Forget Password</mat-card-title>
<mat-card-content>
<form [formGroup]="form" (ngSubmit)="submit()">
  <p>
    <mat-form-field class="d-block">
      <input type="email" matInput placeholder="Enter your email" formControlName="email" required>
    </mat-form-field>
  </p>

  <!-- <p *ngIf="error" class="error">
    {{ error }}
  </p> -->

  <div class="button">
    <button color="primary" type="submit" mat-button>submit</button>
  </div>

</form>
</mat-card-content>
</mat-card>