<mat-card>
    <mat-card-title>Login</mat-card-title>
<mat-card-content>
<form [formGroup]="form" (ngSubmit)="submit()">
  <p>
    <mat-form-field class="d-block" >
      <input type="email" matInput placeholder="email" formControlName="email" required>
    </mat-form-field>
  </p>

  <p>
    <mat-form-field class="d-block">
      <input type="password" matInput placeholder="Password" formControlName="password" required>
    </mat-form-field>
  </p>
  <a mat-button routerLink="/forget_password">forget password</a>
  <!-- <p *ngIf="error" class="error">
    {{ error }}
  </p> -->

  <div class="button">
    <button color="primary" type="submit" mat-button>Login</button>
    <a mat-button routerLink="/register">register</a>
  </div>

</form>
</mat-card-content>
</mat-card>